@tailwind base;
@tailwind components;
@tailwind utilities;

#logo-sidebar {
    transition: transform 0.3s ease-in-out;
  }
#contenido {
    transition: transform 0.3s ease-in-out;
  }  

.section-background {
    background-color: #fc3b3b;
    height: 20%;
}